.document-placeholder-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    
    .document-container {
      position: relative;
      border: 1px solid var(--blue);
      background-color: #f0f8ff;
      resize: both;
      overflow: hidden;
      width: 400px;
      height: 600px;
    }
    
    .document-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .document-controls {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    
    
    .dropzone {
      border: 2px dashed var(--blue);
      background-color: #e0e0e0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 80%; 
      max-height: 100%; 
      flex-shrink: 1;
    }
    
    .zoom-controls {
      margin-top: 10px;
      display: flex;
      justify-content: flex-start;
    }
    
    .zoom-controls button {
      margin: 5px;
    }
    
    .placeholder {
      flex: 1;
      border: 1px solid var(--blue);
      margin-left: 20px;
      background-color: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .right-placeholder {
      flex: 1;
      padding: 20px;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap; 
      max-width: 100%;
    }
    .right-placeholder > * {
      max-width: 100%; 
      flex-shrink: 1;  
      box-sizing: border-box; 
    }
    
    .top-section {
      position: relative;
      flex: 0 1 auto; /* Top section will take the space needed for the button */
    }
    
    .bottom-section {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .import-button {
      position: relative;
      margin: 10px;
    }
    
.left-container {
  flex: 1;
  margin-right: 20px;
}
    .button-container {
      margin-top: 20px;
    }
    
    .content-container {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      width: auto;

    }
    .content-container > * {
      flex-shrink: 1; /* Allow items to shrink if necessary */
      min-width: 0; /* Prevent children from expanding beyond the parent */
    }
    .add-label-family-button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 8px 16px;
      background-color: var(--blue)!important;
      color: white !important;
      text-transform: none; /* To keep text capitalization as it is */
      border: 1px solid var(--blue);
    }
    
    .add-label-family-button:hover {
      background-color: var(--blue);
      
    }
    
    .add-label-family-button .MuiSvgIcon-root {
      font-size: 18px; /* Smaller plus icon */
      margin-right: 8px; /* Space between icon and text */
    }
    .form-container {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      position: relative; /* Ensure form container doesn't overlap with heading */
    }
    
    .form-heading {
      margin-bottom: 5px; /* Add space below heading */
      margin-top: 0px; /* Adjust this value as needed */
      padding-top: 0px; /* You can adjust padding too if necessary */
      
    }
    
    .label-name-field, .label-description-field {
      background-color: white;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    
    .label-name-field {
      padding: 10px; /* Ensure text field has padding */
      margin-bottom: 10px !important;
    }
    
    .label-description-field {
      padding: 10px;
      margin-top: 10px;
    }

    .button-container {
      display: flex;
      justify-content: space-between; /* Spreads the buttons evenly */
      align-items: center; /* Aligns the buttons vertically in the middle */
      gap: 10px; /* Adds space between the buttons */
      width: 100%; /* Takes up the full width of the parent container */
      box-sizing: border-box; /* Ensures padding is included in the total width */
    }
    .half-width-button {
      width: 48%; /* 48% width to leave room for the gap between buttons */
      display: inline-block; /* Ensure buttons are inline elements */
      box-sizing: border-box; /* Include padding in width */
      
    }


    /*Here comes the styling of the labels*/
    .form-container {
      padding: 10px;
    }
    
    .label-inputs {
      display: flex;
      gap: 10px;
    }
    
    .label-name-field {
      flex: 1;
    }
    
    .label-description-field {
      flex: 2;
    }
    
    .button-container {
      margin-top: 10px;
    }
    
    .submitted-label-families {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
    
    .label-box {
      
      padding: 0px;
      margin-bottom: 2px;
      background-color: #f5f5f5;
      border-radius: 2px;
    }
    .label-family {
      display: flex;
      flex-grow: 1; 
      flex-direction: column;
      border: 1px solid black;  /* Black outline */
      padding: 10px;
      border-radius: 5px; /* Optional: for rounded corners */
      margin-bottom: 10px;
      color: black !important;  
    }
    .label-list {
      margin-top: 5px; /* Space between label family button and labels list */
      margin-left: 25px;
    }
    
    .label {
      border: 1px solid red !important;  /* Style for each individual label */
      padding: 5px;
      margin-top: 5px;
      border-radius: 5px;
    }

    /* Styling for the label family thingies*/
    .label-family-container{
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      gap: 5px !important;
      color: black !important;
      width: 100%; 
      max-width: 100%;
    }
    .label-family-name {
      margin-top: 0px;
      flex-grow: 1;
      white-space: nowrap;
      
      text-overflow: ellipsis;

    }
    .family-container{
      margin-top: 4px;
      width: 100%;
      white-space: normal; /* Allow text to wrap */
      overflow-wrap: break-word; /* Force word breaks if necessary */
      word-wrap: break-word;
    }
    .custom-label-name-distance {
      display: inline-block;
      margin-top: 0px;
      white-space: normal; /* Allow text to wrap */
      
      max-width: 35%;
    }

    /* styling of the label names in the label thingies */
    .label-header {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      
    }
    .label-name {
      padding-top: 0px;
      margin-right: 5px;
      padding-right: 10px;
      line-height: 0.5;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      color: black;
      min-width: 101px;
    }
    
    .custom-label-name-label-description{
      display: inline-block;
      margin-top: 8px;
      white-space: normal; /* Allow text to wrap */
      max-width: 35%;
    }
    
    .label-description {
      display: flex;
      margin-top: 0;
      padding: 0;
      white-space: normal; /* Allow text to wrap */
      overflow-wrap: break-word; /* Force word breaks if necessary */
      word-wrap: break-word;
      
    }

    .label-description-container {
      margin: 0;
      padding: 0;
      text-align: left !important;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-top: 10px ;
      color: black !important;
      white-space: normal; /* Allow text to wrap */
      overflow-wrap: break-word; /* Force word breaks if necessary */
      word-wrap: break-word;
      
    }
    

    .label-container {
      display: flex;
      flex-grow: 1; 
      flex-direction: column;
      border: 1px solid black;  /* Black outline */
      padding: 10px;
      border-radius: 5px; /* Optional: for rounded corners */
      margin-bottom: 10px;
      color: black !important;  
    }
    .label-container:hover {
      background-color: rgba(0, 0, 0, 0.05); /* Transparent black background */
      cursor: pointer; /* Change cursor to hand */
    }
    .label-family-container:hover .close-button {
      visibility: visible; /* Show the button when hovering over the container */
    }
    
    