:root {
  --blue:#0074E0;
  --red:#FF0000;
  --shadeDarker:#D6D6D6;
  --black:#000000;
  --labels: #B4A7E7;
  --labelsBackground: #E3DAF5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5; 
  
}
.shadaDarker {
  color: var(--shadeDarker);
}
.blue{
  color: var(--blue);
}
.red{
  color: var(--red);
}
.black {
  color: var(--black);
}
.labels{
  color: var(--labels)
}
.labelsBackground{
  color: var(--labelsBackground)
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
