@import "./index.css";

/* Apply flexbox directly to the body */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;      /* Center vertically */
}

/* Your existing container styling */
.container {
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--shadeDarker) !important;
  text-align: center;
  color: var(--text-primary) !important;
  inline-size: max-content;
  height: 300px !important;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Fixing gap value with 'px' */
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;

}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
  
    
